body {
    font-family: 'Arial', 'Verdana', sans-serif;
    background-color: rgb(222 222 222);
    margin: 50px auto;
    width: 200px;
    height: 200px;
    padding: 20px;

}
div {
    margin: 10px 0px;
    padding: 5px;
    background-color: rgb(163, 226, 221);
    border-style: solid;
    border-color: bisque;
    
}

input {
    margin: 10px 0px;
}